* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: rgb(50, 50, 50);
}

.instructions {
  color: white;
  background-color: #2ecc71;
  position: fixed;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
  z-index: 10;
  animation: instructions;
  animation-duration: 3s;
  font-weight: 600;
  width: 90%;
  max-width: 45rem;
}

.instructions.lose {
  background-color: #e74c3c;
}

.lds-ring {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes instructions {
  0% {
    top: -20%;
  }

  37.5% {
    top: 5%;
  }

  62.5% {
    top: 5%;
  }

  100% {
    top: -20%;
  }
}
