.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  width: 90%;
  margin: 0 auto;
  max-width: 200rem;
}
.game-grid__item {
  width: 100%;
  position: relative;
  border: 1rem solid transparent;
  transition: all 0.2s;
}

.game-grid__item:hover {
  cursor: pointer;
  border: 1rem solid #2ecc71;
}

.game-grid__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.game-grid__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  font-size: 4rem;
  font-weight: 900;
}

.game-grid__image {
  width: 100%;
  height: 100%;
}
